[phases.setup]
nixPkgs = ["python312"]

[phases.install]
aptPkgs = ["libpq-dev", "libpq5", "postgresql-client"]
cmds = [
  "pip install --upgrade pip",
  "pip install -r requirements.txt"
]

[start]
cmd = "uvicorn main:app --host 0.0.0.0 --port $PORT"

